flows.json
[{"id":"4330482e.f9b098","type":"tab","label":"Work Form","disabled":false,"info":""},{"id":"2ac2d9a6.a3d0d6","type":"debug","z":"4330482e.f9b098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":200,"wires":[]},{"id":"7a7ab732.a3b568","type":"ui_form","z":"4330482e.f9b098","name":"","label":"Country Data","group":"e4da6c76.a7fa9","order":2,"width":"0","height":"0","options":[{"label":"Country","value":"country","type":"text","required":true,"rows":null},{"label":"Year","value":"year","type":"date","required":true,"rows":null},{"label":"Status","value":"status","type":"text","required":true,"rows":null},{"label":"Life Expectancy","value":"le","type":"number","required":true,"rows":null},{"label":"Adult Morality","value":"am","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"if","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alcohol","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"pe","type":"number","required":true,"rows":null},{"label":"Hepatitis","value":"hepatities","type":"number","required":true,"rows":null},{"label":"Measles","value":"measlesa","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"Under 5 Deaths","value":"u5d","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"te","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"diphtheria","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"hivaids","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Population","value":"pop","type":"number","required":true,"rows":null},{"label":"Thiness 1-19 years","value":"ty1_19","type":"number","required":true,"rows":null},{"label":"Thiness 5-9 years","value":"ty5_9","type":"number","required":true,"rows":null},{"label":"Income Composition Of Resource","value":"icor","type":"number","required":true,"rows":null},{"label":"Schooling","value":"schooling","type":"number","required":true,"rows":null}],"formValue":{"country":"","year":"","status":"","le":"","am":"","if":"","alcohol":"","pe":"","hepatities":"","measlesa":"","bmi":"","u5d":"","polio":"","te":"","diphtheria":"","hivaids":"","gdp":"","pop":"","ty1_19":"","ty5_9":"","icor":"","schooling":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":400,"y":200,"wires":[["d8eb605a.09ce9","2ac2d9a6.a3d0d6"]]},{"id":"ae969de4.027c","type":"ui_text","z":"4330482e.f9b098","group":"e4da6c76.a7fa9","order":3,"width":0,"height":0,"name":"","label":"Form Status","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":300,"wires":[]},{"id":"d8eb605a.09ce9","type":"function","z":"4330482e.f9b098","name":"","func":"msg.payload = \"Form Submitted Successfully\"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":300,"wires":[["ae969de4.027c"]]},{"id":"e4da6c76.a7fa9","type":"ui_group","z":"","name":"Information","tab":"6f9ee4e4.a5b73c","order":1,"disp":true,"width":"6","collapse":false},{"id":"6f9ee4e4.a5b73c","type":"ui_tab","z":"","name":"Data","icon":"dashboard","disabled":false,"hidden":false}]